<div class="d-flex align-items-center justify-content-center tamano vh-100">
    <div class="card bg-light mb-3">
        <div class="card-header">{{titulo}}</div>
        <div class="card-body">
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Birth Date</th>
                        <th>Vulnerability</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let hero of heroes">
                        <td>{{hero.id}}</td>
                        <td>{{hero.name}}</td>
                        <td>{{hero.birthDate}}</td>
                        <td>{{hero.vulnerability}}</td>
                        <td>
                            <button class="btn btn-primary btn-sm" routerLink="/heroes/create">Create</button>
                        </td>
                        <td>
                            <button class="btn btn-secondary btn-sm" [routerLink]="['/heroes/edit', hero.id]">Edit</button>
                        </td>
                        <td>
                            <button class="btn btn-danger btn-sm" (click)="delete(hero)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>